.center {
    text-align: center;
}

.list-center {
    list-style-position: inside;
}

.text-green {
    color:green;
}

.fs-30 {
    font-size: 30px;
}

.fs-22 {
    font-size: 22px;
}

.fs-14 {
    font-size:14px;
}

.space {
    word-spacing:5px;
}

.bold {
    font-weight: bold;
}

/* .bgcolor{
   ;
} */

body {
    background-repeat: no-repeat ;
    background-position: bottom left;
    background-size:contain;    
    background-image: url(img/pngwing.com.png);
    background-color:#DCD7C9;
    background-attachment: fixed;
    
}

/* .box {
   
    width: 500px;
    height: 400px;
    padding: 30px;
    /* border: 5px dashed black; 
    background-repeat: no-repeat;
    background-image: url();
   
    background-origin: border-box;
} */
